<div class="container mt-5 pt-5">
  <div class="text-center mb-5">
    <img
      class="mb-3"
      width="100"
      alt="Angular Logo"
      src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
    />

    <h1>Angular - Reactive form - dynamic</h1>
  </div>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-12">
        <div class="mb-3">
          <label class="form-label">User</label>
          <input type="text" class="form-control" formControlName="username" />
        </div>
        <div class="mb-3">
          <label class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            formControlName="password"
          />
        </div>

        <div class="row mb-3">
          <div class="col-md-2 mt-4">
            <button
              type="button"
              class="btn btn-primary"
              (click)="addItemDynamic()"
            >
              Add
            </button>
          </div>
          <div class="col-md-10" formArrayName="emails">
            <div
              class="row"
              *ngFor="let item of formEmails.controls; let i = index"
              [formGroupName]="i"
            >
              <div class="col-md-8">
                <div class="mb-3">
                  <label class="form-label">Email</label>
                  <input
                    type="email"
                    class="form-control"
                    formControlName="email"
                  />
                </div>
              </div>
              <div class="col-md-4">
                <button
                  class="btn btn-danger btn-md mt-4"
                  (click)="deleteItemFormEmails(i)"
                >
                  X
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="text-center">
          <button
            type="submit"
            class="btn btn-success btn-lg"
            [disabled]="!form.valid"
          >
            Submit
          </button>
        </div>
      </div>
    </div>
  </form>

  <hr />

  <h5>Form is valid: {{ form.valid }}</h5>
</div>
